---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Page not found">
  <section class="flex flex-col items-center text-center">
    <h1 class="heading-1 my-12">404 - Page not found</h1>
    <p class="body mb-4">The page you’re looking for couldn’t be found. Try checking the URL, or head back to the homepage.</p>
    <a href="/" class="btn">Go home</a>
  </section>
</BaseLayout>
