---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { fetchGlobalSeoSettings } from '@/utils/fetchGlobalSeoSettings';

const global = await fetchGlobalSeoSettings();
---

<BaseLayout
  title="Page not found"
  fallbackTitle="Page not found"
  globalSeoSettings={global.seoSettings}
  seoSettings={null}
>
  <section class="flex flex-col items-center text-center">
    <h1 class="heading-1 my-12">404 - Page not found</h1>
    <p class="body mb-4">Not all who wander are lost. But you are.
    </p>
    <p class="body mb-4">You either mistyped the URL or used a link that no longer works.</p>
    <a href="/" class="btn">Go home</a>
  </section>
</BaseLayout>
