---
// components/header/Logo.astro
// No need for any JavaScript/TypeScript if you don't have any logic
---

<a href="/" class="inline-flex" aria-label="Dovetail Digital - Home">
  <svg 
    width="59" 
    height="44" 
    viewBox="0 0 59 44" 
    fill="none" 
    shape-rendering="geometricPrecision"
    vector-effect="non-scaling-stroke"
    preserveAspectRatio="xMidYMid meet"
    aria-hidden="true" 
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M53.9518 44C53.644 44 53.3342 43.9761 53.0282 43.9292L52.9823 43.9206L14.5323 35.8983V32.0741H16.3384V34.4262L53.3265 42.1434C54.1995 42.2744 55.0896 42.1309 55.7704 41.7483C56.3364 41.4298 56.6615 40.9984 56.6615 40.5642V3.43486C56.6615 3.0006 56.3364 2.56921 55.7704 2.25069C55.0896 1.86808 54.2004 1.7246 53.3265 1.85564L16.3384 9.57382V12.2109H14.5323V8.10173L53.0272 0.0707737C54.2989 -0.12627 55.6203 0.0918172 56.6529 0.672426C57.806 1.31999 58.4677 2.32721 58.4677 3.43582V40.5651C58.4677 41.6737 57.806 42.681 56.6529 43.3285C55.8698 43.7685 54.9194 44.0009 53.9509 44.0009L53.9518 44Z" fill="currentColor"/>
    <path d="M7.03046 18.5068C7.03046 21.5705 5.51976 22.6304 2.63798 22.6304H0V14.476H2.84737C5.40407 14.476 7.03046 15.4431 7.03046 18.5068ZM4.71757 18.5412C4.71757 17.0385 4.24141 16.4091 2.83494 16.4091H2.27751V20.6963H2.76514C4.17162 20.6963 4.71757 20.1606 4.71757 18.5412Z" fill="currentColor"/>
    <path d="M14.6537 18.5412C14.6537 21.2558 13.0847 22.7585 10.877 22.7585C8.66927 22.7585 7.1232 21.2788 7.1232 18.5651C7.1232 15.8515 8.69222 14.3478 10.8999 14.3478C13.1076 14.3478 14.6537 15.8276 14.6537 18.5412ZM12.3179 18.5651C12.3179 17.0969 11.7834 16.3173 10.877 16.3173C9.97057 16.3173 9.45904 17.0749 9.45904 18.5422C9.45904 20.0095 9.99352 20.79 10.8999 20.79C11.8063 20.79 12.3179 20.0324 12.3179 18.5651Z" fill="currentColor"/>
    <path d="M21.8821 14.476L19.0816 22.6304H16.8041L14.0035 14.476H16.5373L17.1301 16.6664C17.4093 17.6804 17.8042 19.3342 17.9552 20.1147C18.1063 19.3342 18.5012 17.6918 18.7804 16.6664L19.3732 14.476H21.883H21.8821Z" fill="currentColor"/>
    <path d="M28.424 22.6304H22.1135V14.476H28.3418V16.3747H24.3442V17.4584H26.7498V19.3342H24.3442V20.7317H28.423V22.6304H28.424Z" fill="currentColor"/>
    <path d="M35.4085 16.4445H33.131V22.6304H30.8765V16.4445H28.5989V14.476H35.4085V16.4445Z" fill="currentColor"/>
    <path d="M42.3807 22.6304H39.9406L39.4989 21.1975H37.0588L36.6171 22.6304H34.2L37.1516 14.476H39.4291L42.3807 22.6304ZM38.9529 19.404L38.8019 18.8684C38.5112 17.82 38.3831 17.3771 38.2789 16.83C38.1746 17.3771 38.0465 17.8315 37.7558 18.8684L37.6048 19.404H38.9529Z" fill="currentColor"/>
    <path d="M44.9728 22.6304H42.6723V14.476H44.9728V22.6304Z" fill="currentColor"/>
    <path d="M51.6313 22.6304H45.751V14.476H48.0286V20.6618H51.6313V22.6304Z" fill="currentColor"/>
    <g opacity="0.6">
      <path d="M5.1985 26.5081C5.1985 28.7731 4.08174 29.5575 1.95051 29.5575H0V23.5276H2.10541C3.99569 23.5276 5.1985 24.2421 5.1985 26.5081ZM3.48894 26.5339C3.48894 25.4224 3.13612 24.9576 2.0968 24.9576H1.68471V28.1275H2.04517C3.08449 28.1275 3.48894 27.7315 3.48894 26.5339Z" fill="currentColor"/>
      <path d="M7.2609 29.5575H5.55994V23.5276H7.2609V29.5575Z" fill="currentColor"/>
      <path d="M13.0522 26.9816C13.0522 28.7043 12.1066 29.6522 10.3626 29.6522C8.71324 29.6522 7.58691 28.5149 7.58691 26.5425C7.58691 24.7596 8.566 23.4329 10.3884 23.4329C11.8924 23.4329 12.4766 23.9924 12.9059 25.1211L11.3933 25.7151C11.1954 25.1986 10.9554 24.8877 10.3798 24.8877C9.59767 24.8877 9.33186 25.585 9.33186 26.5416C9.33186 27.7391 9.71814 28.2384 10.4917 28.2384C11.1963 28.2384 11.4287 27.9113 11.4966 27.4981H10.4056V26.2489H13.0522V26.9806V26.9816Z" fill="currentColor"/>
      <path d="M15.0878 29.5575H13.3868V23.5276H15.0878V29.5575Z" fill="currentColor"/>
      <path d="M20.4498 24.9834H18.7661V29.5575H17.0995V24.9834H15.4158V23.5276H20.4508V24.9834H20.4498Z" fill="currentColor"/>
      <path d="M25.6053 29.5575H23.8011L23.475 28.4976H21.6708L21.3448 29.5575H19.5577L21.7406 23.5276H23.4244L25.6072 29.5575H25.6053ZM23.0706 27.1719L22.9587 26.7759C22.7436 26.0011 22.6489 25.673 22.5724 25.2684C22.495 25.673 22.4003 26.0088 22.1862 26.7759L22.0743 27.1719H23.0715H23.0706Z" fill="currentColor"/>
      <path d="M30.125 29.5575H25.7774V23.5276H27.4612V28.1016H30.125V29.5575Z" fill="currentColor"/>
    </g>
  </svg>
</a>