---
import Header from '../components/header/Header.astro';
import '../styles/global.css';
import '../styles/base.css';
import MobilePanel from '../components/header/MobilePanel.tsx';
import MobileMenuWrapper from '../components/header/MobileMenuWrapper';

import type { FooterData } from '../types';
import client from '../lib/wp';
import Footer from '../components/footer/index.astro';

const footerQuery = `
  query {
    siteOptions {
      footer {
        footerEmail
        footerAddress
        footerCopyright
        telephone
        footerPages {
          menuItem {
            url
            title
            target
          }
        }
        footerServices {
          menuItem {
            title
            url
            target
          }
        }
        footerLogo {
          node {
            altText
            title
            uri
            mediaDetails {
              height
              width
              sizes {
                name
                sourceUrl
                width
                height
              }
            }
          }
        }
      }
    }
  }
`;

const { siteOptions } = await client.request<{ siteOptions: { footer: FooterData } }>(footerQuery);

---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dovetail Digital</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />

  </head>
  <body class="bg-white text-slate-900">
    <div id="container" class="min-h-screen flex flex-col">
      <Header />

      <main class="flex-1">
        <slot />  
      </main>

      <Footer footer={siteOptions.footer} />
    </div>
  </body>
</html>
